<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.dataaccess.client" type="System.Data.Common.DbProviderConfigurationHandler, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="OracleSql" providerName="oracle.dataaccess.client" connectionString="User Id=GEAINT;Password=GEAINT;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.3.3.221)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=GEAPROD)))" />
    <add name="ApplicationDbContext" connectionString="data source=.;initial catalog=ProsisDBv1_1;user id=SA;password=CAPUFE;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="PROSIS" connectionString="data source=.;initial catalog=PROSIS;user id=SA;password=CAPUFE;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="plazacobro" value="05" />
    <add key="tiempoAtras" value="24" />
    <!--Queretaro value: 06-->
    <!--Jorobas value: 69-->
    <!--
    Alpuyeca	value: 01
    Paso Morelos	value: 02
    Palo Blanco	value: 03
    La venta	value: 04
    Xochitepec	value: 05
    Aeropuerto	value: 06
    Emiliano Zapata value: 07
    Tlalpan	value: 08
    Tres Marías value: 09
    Francisco Velazco	value: 84
    Villagran: 183 = 
    -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TransProc" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- PALO BLANCO 172.30.14.100-->
      <!-- LA VENTA 172.30.11.100-->
      <!-- PASO MORELOS 172.30.17.100-->
      <!-- ALPUYECA 172.30.101.100-->
      <!-- FCO VELASCO 172.30.1.100-->
      <!-- TLALPAN 172.30.39.100-->
      <!-- TRES MARIAS 172.30.161.100-->
      <!-- AEROPUERTO 172.30.236.100-->
      <!-- CENTRAL DE ABASTOS 10.4.167.100-->
      <endpoint address="http://172.30.43.100:8080/transactions-receiver/services/PlazaWS" binding="basicHttpBinding" bindingConfiguration="TransProc" contract="ServiceReference1.PortType" name="PortTrans" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>